

.nav-login-register{
    display: grid;
    grid-column: 1/-1;
    background-color: #00A86B;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.contenido-principal{
    height: 100vh;
    grid-column: 1/-1;

    background-image: url('../media/ropa/fondo-login.jpg.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
   
}
h1{
    width: fit-content;
    height: fit-content;
    background-color: inherit;
    font-size: 45px;
}