.producto-contenedor{
    width: 500px;
    min-height: 65px;
    background-color: white;
    margin: 5px 0;
    padding: 8px 15px 8px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    border: 1px solid white;
    cursor: pointer;
}

.producto-imagen{
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

.producto-descripcion{
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
    padding-right: 15px;
    margin-left: 15;
}
.producto-cantidad{
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

.producto-precio{
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

.producto-icono{
    width: 25px;
    height: 25px;
    margin:25px;
}

.icono{
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

